
# Игнорировать директорию target, которая содержит собранные бинарные файлы и временные файлы
/target/

# Игнорировать файлы, создаваемые IDE (например, IntelliJ IDEA)
/.idea/

# Игнорировать файлы конфигурации Maven, создаваемые IDE (например, IntelliJ IDEA)
/.mvn/

# Игнорировать файлы локальной истории сборки Maven
.mvn/
